.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
#navbar{
    display: table;
}

.sticky {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}

table {
    display: table-cell;
    text-align: left;
    border-collapse: separate;
    border: 1px solid #f1f1f1;
    font-size: 15px;
    font-style: normal;
    white-space: nowrap; 
}
th {
    border: 1px solid #f1f1f1;
    padding: 10px;
}
td {
    background: #F5D7BF;
    padding: 10px;
}

#content{
    display: inline;
    overflow-y: scroll;
}


.tab div {
    display: inline;

}