.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}


.tab button.active {
    background-color: #ccc;
}

.tab a {
    text-decoration: none;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;

}

.tab a:hover {
    background-color: #ddd;
}

.tab a:active {
    background-color: #ccc;
    text-decoration: none;
}

.tab a:visited {
    text-decoration: none;
}

.tabcontent {
    display: none;
} 

.sticky {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}

table {
    display: table-cell;
    text-align: left;
    border-collapse: separate;
    border: 1px solid #f1f1f1;
    font-size: 10px;
}
th {
    border: 1px solid #f1f1f1;
    padding: 10px;
}
td {
    background: #F5D7BF;
    padding: 10px;
}

#content{
    display: table;
}
